# Скопируйте в .env рядом с bot.py. Ключ API Appwrite с правами на чтение/запись нужных коллекций.
TELEGRAM_BOT_TOKEN=

APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=

APPWRITE_DATABASE_ID=
APPWRITE_COL_PAYMENT_INTENTS=payment_intents
APPWRITE_COL_APPS=apps
APPWRITE_COL_WALLETS=wallets
